[run]
branch = True
source = accounts
omit =
    */migrations/*
    manage.py
    config/asgi.py
    config/wsgi.py
    config/settings.py
    config/urls.py 
    */__init__.py
    

[report]
show_missing = True
